body{
    border: 2px solid black;
    background-color: whitesmoke;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-variant: small-caps;
    line-height: 0.9cm;
    font-size: larger;
}
p{
    background-color: aquamarine;
}
div{
    color: rgb(36, 18, 18);
}
